.signup__line {
  position: absolute;
  width: 17px;
  height: 0px;
  left: 821px;
  top: 254px;

  border: 3px solid #1a3b58;
}
.signup__longline {
  position: absolute;
  width: 314px;
  height: 0px;
  left: 886px;
  top: 290px;
  border: 2px solid rgba(64, 145, 223, 0.12);
}
.username{
    box-sizing: border-box;

position: absolute;
width: 329px;
height: 52px;
left: 886px;
top: 324px;

background: #FFFFFF;
border: 1px solid #CBDBEA;
border-radius: 8px;
font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 103.38%;
  /* or 14px */

  padding-left: 15px;
}
.username__error{
     position: absolute;
width: 126px;
height: 13px;
left: 989px;
top: 369px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #F65B2A;
}
.signup__btn{
top: 564px;
}